@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');
* {
  align-items: center;
  padding: 0;
  margin: 0;
  font-family: 'Playfair Display', serif;
}

.backgroundimg {
  background-image: url(images/mountain.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
}

.home {
  text-align: center;
  font-size: 5em;
  color: #fff;
}

.linkedin-logo {
  height: 23.993px;
}
.github-logo {
  height: 23.993px;
}

/* Section CSS */

h1{
  font-size: 109px;
  text-align: center;
  padding-bottom: 398px;
  padding-right: 7px;
  color: #5c383b;
}

h2 {
  padding: 30px;
  text-align: center;
}

.profile-pic {
  height: 375px;
}

.card {
  background-color: #3b3c46;
  border: none;
}

.card-img-top {
  border: #000 solid 5px;
  width: 100%;
}

.card-title {
  text-align: center;
}

.bio {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 5px;
  padding: 10px 20px;
}

.about-me {
  background-color: #bfc1c7;
  padding-bottom: 30px;
}
.projects {
  background-color: #3b3c46;
  color: #fff;
}

.contact-me {
  background-color: #7792a1;
  margin-bottom: 0;
  padding-bottom: 40px;
  color:#fff;
}
.email {
  text-align: center;
}

.email-btn {
  background-color: #5c383b;
  color:#fff;
  padding: 10px 20px;
  border-radius: 6px;  
}


@media (max-width: 770px) {
  .card-section {
    flex-wrap: wrap;
  }
}
