@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Playfair+Display:wght@400;700&display=swap");
* {
  align-items: center;
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", serif;
}

.backgroundimg {
  background-image: url(images/mountain.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
}

.home {
  text-align: center;
  font-size: 5em;
  color: #fff;
}

.linkedin-logo {
  height: 23.993px;
}
.github-logo {
  height: 23.993px;
}

/* Section CSS */

h1 {
  font-size: 109px;
  text-align: center;
  padding-bottom: 398px;
  padding-right: 7px;
  color: #5c383b;
}

h2 {
  padding: 30px;
  text-align: center;
}

.profile-pic {
  height: 450px;
  padding-left: 30px;
}

.card {
  background-color: #3b3c46;
  border: none;
}

.card-img-top {
  border: #000 solid 5px;
}

.card-title {
  text-align: center;
}

.bio {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 5px;
  padding: 10px 20px;
}

.about-me {
  background-color: #bfc1c7;
  padding-bottom: 60px;
}
.projects {
  background-color: #3b3c46;
  color: #fff;
}

.contact-me {
  background-color: #7792a1;
  margin-bottom: 0;
  padding-bottom: 40px;
  color: #fff;
}

.email,
.bus-repo,
.pac-repo,
.eyes-repo,
.intro-video {
  text-align: center;
  padding-top: 10px;
}
.intro-video {
  width: 100%;
}
.email-btn,
.bus-repo-btn,
.pac-repo-btn,
.eyes-repo-btn,
.intro-video-btn {
  background-color: #5c383b;
  color: #fff;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: 700;
}

.demo-app {
  text-align: center;
  padding: 20px;
}

@media (max-width: 770px) {
  .card-section {
    flex-wrap: wrap;
  }
}
